.uc-topmenu {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9899;
}

.menu-btn .tn-atom, .font-clr-hdr .tn-atom {
    text-decoration: underline!important;
}

.uc-block-footer {
    position: relative;
    width: 100%;
    top: 0px;
    z-index: 99999;
}

.t-select__wrapper:after{display: none!important; border-top-color:#024ef9!important;}

.my-shape-style .tn-atom {box-shadow: 0px 0px 69px 1px #0045F2, inset 0px 0px 69px 14px #FFFFFF;}